*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#mainScreen{
    display: block;
}
#flex{
    display: flex;
    margin: 10px;
    margin-bottom: 20px
}

#time{
    position: relative;
    top: 20px;
    left: 86%
}

#highscores{
    position: relative;
    top: 20px;
    left: 2%;
    text-decoration: none;
    color: purple;
    font-size: 20px;
    
}

#highscores:hover{
    cursor: pointer;
}

#main-flex{
    display: flex;
    margin: 10px;
    justify-content: center;
}
#main-box{
    position: relative;
    top: 200px;
    text-align: center;
}

#start{
    margin: 10px;
    background-color: purple;
    color: white;
    border-color: black;
    border-radius: 3px;
    font-size: 20px;
    margin-top: 10px;
}

.start{
    margin-top: 10px;
}

#para{
    margin-top: 15px
}

#list-style{
    list-style-type: none;
}

#flex-answers{
    display: flex;
    flex-direction: column;
    left: 300px
    
    
    
}
.answer_boxes{
    display: none;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: purple;
    color: white;
    border-color: black;
    border-radius: 3px;
    font-size: 25px;
    width: 300px
}

#start:hover{
    background-color: rgb(151, 94, 151);
    cursor: pointer;
}

.answer_boxes:hover{
    background-color: rgb(151, 94, 151);
    cursor: pointer;
}

#result_div{
    color: grey;
    display: none;
    text-align: left;
}


#hidden{
    display: none;
    text-align: left;
}
#enterInitials{
    font-size: 25px;
}

#submit_button{
    background-color: purple;
    color: white;
    border-color: black;
    border-radius: 3px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px
}

/* highscore page) */

#flex-container{
    display:flex;
    margin: 10px;
    justify-content: center;
}

#heading_hs{
    position: relative;
    top: 200px;
    text-align: center;
    

}
#flex_button{
    position: relative;
    top: 30px;
    text-align: center;
    
}

.hs_button{
    background-color: purple;
    color: white;
    border-color: black;
    border-radius: 3px;
    font-size: 20px;
    margin: 10px;
}

.hs_button:hover{
    background-color: rgb(151, 94, 151);
    cursor: pointer;
}

li{
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    border-radius: 3px;
    padding: 5px;
    background-color:  rgba(128, 0, 128, 0.486);
    color: white;
}

#highscorePage{
    display: none
}

